<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body style="background-color: rgb(124, 124, 124);">
    <ul>
        <% if (products) %>
        <% products.forEach((product) => { %>
            <a href="/products" style="text-decoration:none"><h1><%= product.name %></h1></a>
        <% }); %>
    </ul>
    <!-- How this should look: -->
    
    <!-- Beer From Categories id: 1 -->
        <!-- ipa -->
        <!-- stout -->
    
    <!-- Wine From Categories id: 2 -->
        <!-- Red -->
         <!-- Goes into subcategory/product -->
            <!-- Malbec -->
            <!-- Merlot -->
            <!-- Pinot Noir -->
        <!-- White -->
         <!-- Goes into subcategory/product -->
            <!-- Pinot Grigio -->
            <!-- Riesling -->

    <!-- Whiskey From Categories id: 3 -->
        <!-- Scotch -->
         <!-- Goes into subcategory/product -->
        <!-- Bourbon -->
         <!-- Goes into subcategory/product -->
        <!-- Irish -->
         <!-- Goes into subcategory/product -->

    <!-- Rum From Categories id: 4 -->
        <!-- Dark -->
         <!-- Goes into subcategory/product -->
        <!-- White -->
         <!-- Goes into subcategory/product -->
          
    <!-- Tequila From Categories id: 5 -->
        <!-- Reposado -->
         <!-- Goes into subcategory/product -->
        <!-- Blanco -->
         <!-- Goes into subcategory/product -->
        <!-- Mezcal -->
         <!-- Goes into subcategory/product -->
</body>
</html>