<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <!-- How this should look: -->
    
    <!-- Beer From Categories -->
        <!-- ipa -->
        <!-- stout -->
    
    <!-- Wine From Categories -->
        <!-- Red -->
         <!-- Goes into subcategory/product -->
            <!-- Malbec -->
            <!-- Merlot -->
            <!-- Pinot Noir -->
        <!-- White -->
         <!-- Goes into subcategory/product -->
            <!-- Pinot Grigio -->
            <!-- Riesling -->

    <!-- Whiskey From Categories -->
        <!-- Scotch -->
         <!-- Goes into subcategory/product -->
        <!-- Bourbon -->
         <!-- Goes into subcategory/product -->
        <!-- Irish -->
         <!-- Goes into subcategory/product -->

    <!-- Rum From Categories -->
        <!-- Dark -->
         <!-- Goes into subcategory/product -->
        <!-- White -->
         <!-- Goes into subcategory/product -->
          
    <!-- Tequila From Categories -->
        <!-- Reposado -->
         <!-- Goes into subcategory/product -->
        <!-- Blanco -->
         <!-- Goes into subcategory/product -->
        <!-- Mezcal -->
         <!-- Goes into subcategory/product -->
</body>
</html>